logging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.1" vc:minVersion="1.1"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
    <xs:simpleType name="IPv4Address">
        <xs:annotation>
            <xs:documentation>IPv4 address in dot-decimal notation. Equivalent to
                [0-255].[0-255].[0-255].[0-255]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])"/>
        </xs:restriction>
    </xs:simpleType>
     <xs:simpleType name="LogLevel">
          <xs:restriction base="xs:string"></xs:restriction>
     </xs:simpleType>
    <xs:simpleType name="DeviceID">
      <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <!--  <xs:pattern value="[L][0-9]?[0-9]?[0-9]-[A-Z]?[A-Z]?[A-Z]?[A-Z][0-9]?[0-9]?[0-9]"/> -->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeviceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEM"/>
            <xs:enumeration value="MotorStepper"/>
            <xs:enumeration value="MotorVirtualXY"/>
            <xs:enumeration value="Solenoid"/>
            <xs:enumeration value="PWMSignal"/>
            <xs:enumeration value="PWMPower"/>
            <xs:enumeration value="SensorAnalogDirect"/>
            <xs:enumeration value="SensorLocal"/>
            <xs:enumeration value="SensorBoolDirect"/>
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InputType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNP"/>
            <xs:enumeration value="0-20mA"/>
            <xs:enumeration value="4-20mA"/>
            <xs:enumeration value="0-10V"/>
            <xs:enumeration value="PWM-RC"/>
            <xs:enumeration value="PWM-duty_cycle"/>
            <xs:enumeration value="SPI"/>
            <xs:enumeration value="I2C"/>
            <xs:enumeration value="Local"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntOrNothing">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
     <xs:simpleType name="FloatOrNothing">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base='xs:string'>
                    <xs:length value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:float">
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="DirectionRotational">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CW"/>
            <xs:enumeration value="CCW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Direction">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="POSITIVE"/>
            <xs:enumeration value="NEGATIVE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SensorLinearInputUnitConversion">
        <xs:sequence>
            <xs:element name="INPUT_TYPE" type="InputType"> </xs:element>
            <xs:element name="MIN_INPUT" type="FloatOrNothing"> </xs:element>
            <xs:element name="MAX_INPUT" type="FloatOrNothing"> </xs:element>
            <xs:element name="MIN_OUTPUT" type="FloatOrNothing"> </xs:element>
            <xs:element name="MAX_OUTPUT" type="FloatOrNothing"> </xs:element>
            <xs:sequence> </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Thresholds">
        <xs:sequence>
            <xs:element name="ALARM_LOW" type="FloatOrNothing"> </xs:element>
            <xs:element name="WARNING_LOW" type="FloatOrNothing"> </xs:element>
            <xs:element name="WARNING_HIGH" type="FloatOrNothing"> </xs:element>
            <xs:element name="ALARM_HIGH" type="FloatOrNothing"> </xs:element>
            <xs:sequence> </xs:sequence>
        </xs:sequence>
      <!-- not supported by libxml2 <xs:assert test="ALARM_HIGH > WARNING_HIGH"/>
        <xs:assert test="WARNING_HIGH > WARNING_LOW"/>
        <xs:assert test="WARNING_LOW > ALARM_LOW"/> -->
    </xs:complexType>
    <xs:complexType name="Addressing">
        <xs:sequence>
            <xs:element name="DEVICE_ID" type="DeviceID"> </xs:element>
            <xs:element name="DEVICE_NAME" type="xs:string"/>
            <xs:element name="IP_ADDRESS" type="IPv4Address"/>
            <xs:sequence>
                <xs:element name="CARD" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MANUFACTURER_ID" type="xs:string"/>
                            <xs:element name="CARD_NAME" type="xs:string"/>
                            <xs:element name="CARD_ID" type="xs:int"/>
                            <xs:element name="DEVICE_PORT_NO" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="LOGGING" >
       <xs:complexType>
           <xs:sequence>
                <xs:element name="MOTOR_STEPPER"   maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DEVICE_ADDRESS" type="Addressing"> </xs:element>
                            <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="MotorStepper"/>
                            <xs:element name="STEP_UNIT_CONVERSION" maxOccurs="1" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="UNIT" type="xs:string"/>
                                        <xs:element name="UNIT_PER_STEP" type="xs:float"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MOTOR_CONFIG" maxOccurs="1" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DIRECTION_POSITIVE" type="DirectionRotational"/>
                                        <xs:element name="ENDSTOP_SOFT_POSITIVE"  type = "FloatOrNothing"/>
                                        <xs:element name="ENDSTOP_SOFT_NEGATIVE" type = "FloatOrNothing"/>
                                        <xs:element name="MAX_SPEED" type="xs:float"/>
                                        <xs:element name="SPEED" type="xs:float"/>
                                        <xs:element name="MAX_ACCELERATION" type="xs:float"/>
                                        <xs:element name="ACCELERATION" type="xs:float"/>
                                        <xs:element name="MAX_CURRENT" type = "xs:float"/>
                                        <xs:element name="CURRENT" type = "xs:float"/>
                                        <xs:element name="INACTIVE_TIMEOUT" type="xs:float"/>
                                        <xs:element name="INACTIVE_CURRENT" type="xs:float"/>
                                        <xs:element name="HOME_DEVICE_ID" type="xs:string"/>
                                        <xs:element name="HOME_VALUE" type="xs:float"/>
                                        <xs:element name="HOME_DIRECTION" type="Direction"/>
                                        <xs:element name="ENDSTOP_DEVICE_ID_POSITIVE" type="xs:string"/>
                                        <xs:element name="ENDSTOP_DEVICE_ID_NEGATIVE" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
               <xs:element name="MOTOR_VIRTUAL_XY"  maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="IP_ADDRESS" type="IPv4Address" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_ID" type="DeviceID" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="MotorVirtualXY"/>
                           <xs:element name="DEVICE_NAME"/>
                           <xs:element name="MOTOR_TRANSLATION" type = "DeviceID"/>
                           <xs:element name="MOTOR_ROTATION" type = "DeviceID"/>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
               <xs:element name="SENSOR_ANALOG_DIRECT"  maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="DEVICE_ADDRESS" type="Addressing" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="SensorAnalogDirect"/>
                           <xs:element name="UNIT_CONVERSION" type="SensorLinearInputUnitConversion" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="THRESHOLDS" type="Thresholds" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_ID_AUX" type="DeviceID" maxOccurs="1" minOccurs="1"/>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
               <xs:element name="SENSOR_BOOL_DIRECT"  maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="DEVICE_ADDRESS" type="Addressing" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="SensorBoolDirect"/>
                           <xs:element name="INPUT_TYPE" type="InputType"> </xs:element>
                           <xs:element name="ACTIVE_HIGH" type="xs:boolean"> </xs:element>
                           <xs:element name="ALARM" type="xs:boolean"> </xs:element>
                           <xs:element name="DEVICE_ID_AUX" type="DeviceID" maxOccurs="1" minOccurs="1"/>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
               <xs:element name="SENSOR_LOCAL" maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="DEVICE_ADDRESS" type="Addressing" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="SensorLocal"/>
                           <xs:element name="UNIT_CONVERSION" type="SensorLinearInputUnitConversion" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="THRESHOLDS" type="Thresholds" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_ID_AUX" type="DeviceID" maxOccurs="1" minOccurs="1"/>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
  
               <xs:element name="SOLENOID"  maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="DEVICE_ADDRESS" type="Addressing" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="Solenoid"/>
                           <xs:element name="MAX_CURRENT" type="xs:float"> </xs:element>
                           <xs:element name="ACTIVATE_CURRENT" type="xs:float"> </xs:element>
                           <xs:element name="HOLD_CURRENT" type="xs:float"> </xs:element>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
               <xs:element name="PWM_SIGNAL" maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="DEVICE_ADDRESS" type="Addressing" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="PWMSignal"/>
                           <xs:element name="UNIT_CONVERSION" type="SensorLinearInputUnitConversion" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="MIN_LEVEL" type = "xs:float"/>
                           <xs:element name="MAX_LEVEL" type = "xs:float"/>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
               <xs:element name="PWM_POWER" maxOccurs="unbounded" minOccurs="0">
                   <xs:complexType>
                       <xs:sequence>
                           <xs:element name="DEVICE_ADDRESS" type="Addressing" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="DEVICE_TYPE" type="DeviceType" fixed="PWMPower"/>
                           <xs:element name="UNIT_CONVERSION" type="SensorLinearInputUnitConversion" maxOccurs="1" minOccurs="1"/>
                           <xs:element name="MIN_LEVEL" type = "xs:float"/>
                           <xs:element name="MAX_LEVEL" type = "xs:float"/>
                       </xs:sequence>
                   </xs:complexType>
               </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="unique_device_id">
<!--            <xs:selector xpath="*/DEVICE_ADDRESS/DEVICE_ID"/>-->
            <xs:selector xpath="*/DEVICE_ID"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>
</xs:schema>
